.title {
    text-align: center;
    margin-bottom: 50px;

    h1 {
        font-size: 50px;

        i {
            color: #9BC53D;
        }
    }

    h2 {
        font-size: 24px;
        font-weight: normal;
    }
}