@use "@/shared/styles/variables" as *;

.wrap {
    background-color: $gray;
    color: $white;
    height: fit-content;

    footer {
        margin-top: 50px;
        padding-bottom: 30px;

        .description {
            padding-top: 30px;

            .text {
                display: flex;
                justify-content: center;
                align-items: center;

                p {
                    margin-right: 10px;
                }
            }
        }
    }
}