@use "@/shared/styles/variables" as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Poppins", sans-serif;

    input::placeholder {
        opacity: 0.4;
    }

    a {
        text-decoration: none;
        cursor: pointer;
        color: inherit;
    }

    img {
        max-width: 100%;
    }

    svg *[fill] { fill: currentColor }
    svg *[stroke] { stroke: currentColor }
}

.wrapper {
    background-color: $white;
    color: $gray;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.h1 {
    font-size: 60px;
    text-align: center;
    margin-bottom: 40px;

    i {
        color: $green;
    }
}

b.current-page {
    color: $green;
}

h3.current-page {
    font-size: 16px;
    padding-bottom: 50px;
}