@use "@/shared/styles/variables" as *;

.item {
    background: $gray;
    border-radius: 20px;
    padding: 30px;
    color: $white;
    font-size: 16px;
    width: 380px;
    margin-bottom: 10px;

    h2 {
        color: $green;
        margin-bottom: 10px;
    }

    &:last-child {
        margin-bottom: 0;
    }
}