@use "/shared/styles/variables" as *;

.about {
    display: flex;
    font-size: 21px;

    .text {
        display: flex;
        flex-direction: column;
        width: 45%;

        span {
            font-weight: 600;
            margin-top: auto;
        }
    }

    img {
        width: 50%;
        margin-left: auto;
    }
}