@use "@/shared/styles/variables" as *;

.block {
    color: $white;
    display: flex;
    flex-direction: column;
    background: $gray;
    border-radius: 20px;
    padding: 30px;
    height: 300px;
    width: 580px;

    h3 {
        font-size: 28px;
        margin-top: auto;
    }

    p {
        font-size: 20px;
    }
}