@use "@/shared/styles/variables" as *;

.post {
    color: $white;
    width: 100%;
    background: $gray;
    border-radius: 20px;
    padding: 30px;
    font-size: 20px;

    .head {
        display: flex;

        h3 {
            color: $green;
            font-size: 40px;
            margin-bottom: 10px;
            max-width: 1000px;
        }

        h4 {
            font-size: 20px;
            margin-left: auto;
        }
    }
}